.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 1em;

  .search {
    position: relative;

    input {
      width: 100%;
      border-radius: 0;
      border: none;
      padding: .5em;

      &:focus {
        outline: none;
      }

      &::-webkit-search-cancel-button,
      &::-webkit-search-decoration {
        -webkit-appearance: none;
        appearance: none;
      }
    }

    .clear {
      color: gray;
      cursor: pointer;
      position: absolute;
      right: .75em;
      line-height: 2.25em;
    }
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .matches {
    background-color: var(--light-color);
    line-height: 2em;

    li {
      padding: .6em .5em;
      border-bottom: 1px solid var(--lighter-color);
      font-size: 1.7em;

      &:last-child {
        border-bottom-style: none;
      }
    }
  }

  .verb {
    display: flex;
    flex-direction: column;
    padding-top: 1em;

    header {
      label {
        display: inline-block;
        width: 6em;
      }
    }

    .conjugations {
      >li>h2 {
        background-color: var(--light-color);
        flex: 1;
        font-size: 1.1em;
        margin-top: 1em;
        padding: .5em 1em;
        margin-left: -1em;
        margin-right: -.9em;
      }

      .performer {
        display: inline-block;
        width: 6em;
      }
    }
  }
}
